:root {
    --co-white: #FFFFFF;
    --co-yellow: #FEFAEC;
    --co-orange: #FFF3EB;
    --co-aside-card1: #E6F0FD;
    --co-aside-card2: #F3F4F8;
    --co-light-blue: #F3F7FE;
    --co-blue: #2963A3;
    --co-light-green: #E3F5F5;
    --co-green: #03B2A5;
    --co-gray-text: #9D9D9D;
    --co-super-light-green: #F9FDFD;
    --co-gray: #DEDEDE;
    --co-light-black: #908d8d;
    --co-black: #000000;
}
